* {
  color: white;
}

body {
  background-color: #000;
}
h1,
h3,
p {
  color: #fff;
}
#me {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%; 
  width: 400px;
  margin-left: 25%;
}

.topnav {
  overflow: hidden;
  margin-left: 70%;

}
.topnav > a {
  font-size: 100px;

}
.topnav > a > img{
  width: 15px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  border-radius: 10px;
  color: black;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  margin: 50px;
  background-color: #181818;
  border-radius: 20px;
}
table,
tr,
td,
th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
  font-size: 20px;
}
caption {
  font-size: 30px;
  padding: 30px;
}
p {
  font-size: 20px;
}
.table-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0;
  border-radius: 20px;
  margin: 50px;
  padding: 30px;
  background-color: #111;
}
.table-courses, .table-skills {
  background-color: #181818;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;

}