* {
  color: white;
}

body {
  background-color: #111;
}
h1,
h3,
p {
  color: #fff;
}
#me {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%; 
  width: 400px;
}

.topnav {
  overflow: hidden;
}
.topnav > a {
  font-size: 100px;

}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
  column-gap: 200px;
}
table,
tr,
td,
th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  font-size: 20px;
}
caption {
  font-size: 30px;
}
p {
  font-size: 20px;
}
.table-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  padding-top: 0;
  column-gap: 50px;
}